body {
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    height: 100vh;
}

.grid img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0 .8);
    display: none;
  
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;

}

#lighbox img {
    max-width: 90px;
    max-height: 80px;
    padding: 8px;
    background-color: black;
    border: 2px solid white;
}